
<!-- Author: W3layouts
Author URL: http://w3layouts.com -->

{%extends 'layout.html' %}
{% load static %}
{% block content %}


{% if messages %}
{% for message in messages %}
   <script>
    alert('{{message}}')
   </script>
{% endfor %}
{% endif %}
<body>
   

    <!-- banner section -->
    <section class="w3l-banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 banner-left">
                    <h3 class="text-white mb-3 title">Embrace Yourself <br>
                        For <span class="type-js"><span class="text-js">EVERYDAY </span></span></h3>
                    
                    </p>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->

    <!-- about section -->
  
    <!-- //about section -->

    <!-- what we do section -->
    
    <!-- //customers section -->

    <!-- gallery section -->
    
    <!-- //gallery section -->

    <!-- block icons section -->
   
    <!-- //con
        tent with bg -->

    <!-- news -->
  
    <!-- //news -->

   

    <!-- Js scripts -->
  
{% endblock %}