{% extends "layout.html" %}
{% block content  %}
{% load static %}

<style>
  
    nav{
    }
    label {
        color: yellow;
    }
    .lead{
        color: white;
    }

    .card {
        /* background: linear-gradient(135deg, #c3b63c48, #ffffff64);  */

        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        padding: 20px;        background-color: rgba(232, 128, 43, 0.201);

        margin: 10px;
        margin-left:170px;
        
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .btn-style-white {
        background-color: white;
        border: 1px solid #ccc;
        color: #333;
    }

    .btn-style-primary {
        background-color: #007bff;
        color: white;
    }

    .row{
        width: 100%;
    }
   
   
</style>
{% if messages %}
{% for message in messages %}
   <script>
    alert('{{message}}')
   </script>
{% endfor %}
{% endif %}
<section class="w3l-banner pt-5">
    <form method="get" action="" class="mt-5">
        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
        <a href="/viewclasses" class="">Refresh</a>

    </form>
        <div class="row mt-5">
            {% if  data %}

            {% for i in data %}
            <div class="col-md-4 card">
                <div class="section-heading mb-sm-5 mb-4">
                    <h6 class="title-style mb-2 text-white">
                    {{i.title}} 
                    </h6>
                    <div class="row">
                        <div class="col-md-6">
                        
                            <p class="lead">
                                Class type:
                            {{i.class_type}}
                            
                            </p>
                            <p class="lead">
                                start_time:
                                {{i.start_time}}
                            
                            </p>
                            <p class="lead">
                                End Time:
                                {{i.end_time}}
                            
                            </p>
                        
                            {% if i.place %}
                            <p class="lead">
                            Place:
                                <a href="https://www.google.com/maps/search/?api=1&query={{ i.place }}" target="_blank" class="text-info">{{ i.place }}</a>

                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p class="lead">
                                Description:
                                {{i.description}}
                            </p>
                            <p class="lead">
                                Date:
                            {{i.date}}
                                
                            </p>
                        
                        </div>
                    </div>
                    <div class="row mt-5">
                        {% if request.session.ut != 0 %}
                        <a href="/viewfeedback/{{i.id}}" class="btn-primary btn ml-2 " >Feedback</a>                

                            <a href="/editclasses/{{i.id}}" class="btn-primary btn ml-2">Edit</a>
                            <a href="/deleteclass/{{i.id}}"  class="btn-danger btn ml-2" onclick="return confirm('Are You Sure To Delete This Class')"> Delete</a>  
              
                        {% if i.class_type == "online" %}
                            <a href="/addvideo/{{i.id}}" class="btn-primary btn ml-2" >Add Video</a>                
                            <a href="/viewvideo/{{i.id}}" class="btn-primary btn ml-2">   View Class</a>                
                        {% if request.session.ut == 2 %}
                            <a href="/bookings/{{i.id}}" class="btn-primary btn ml-2 mt-2" >   Bookings</a>                
                        {% endif %}
                        {% elif i.class_type == "offline" %}
                        {% if request.session.ut == 2 %}
                            <a href="/bookings/{{i.id}}" class="btn-primary btn ml-2" >   Bookings</a>   
                                         
                        {% endif %}
        
                        {% endif %}
                        {% elif request.session.ut == 0 %}
                        {% if i.userid.usertype == 2 %}
                            <a href="/bookclass/{{i.id}}" class="btn-primary btn ml-2" >  Book</a>                
                        {% endif %}
                    
        
                        {% if i.class_type == "online" %}
        
                    
                            <a href="/viewvideo/{{i.id}}" class="btn-primary btn ml-2">View Class</a>                
                            <a href="/addfeedback/{{i.id}}" class="btn-primary btn ml-2">   Add Feedback</a>                
                            <a href="/viewfeedback/{{i.id}}" class="btn-primary btn ml-2">   View Feedback</a>                
                        {% endif %}
                        {% if i.class_type == "offline" %}
        
                    
                        <a href="/addfeedback/{{i.id}}" class="btn-primary btn ml-2">   Add Feedback</a>                
                        <a href="/viewfeedback/{{i.id}}" class="btn-primary btn ml-2">   View Feedback</a>                
                    {% endif %}
        
                        {% endif %}
                    </div>
                </div>


                </div>
            
            {% endfor %}
            {% else %}
            <img src="{% static 'assets/images/ntg1.jpg' %}" alt="" class="mx-auto card">
    
            {% endif %}
        </div>
</section>

{% endblock %}
