{% extends "layout.html" %}
{% block content  %}
{% load static %}

<style>
    body {
    }
    nav{
    }

    label {
        color: yellow;
    }

    .card {
        /* background: linear-gradient(135deg, #c3b63c2c, #ffffff25); Light yellow to white gradient */
        /* background-color: rgba(255, 192, 203, 0.295); */
        background-image: url("{% static 'assets/images/women456.jpg' %}");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;

        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        padding: 20px;
        margin: 10px;
        margin-left: 30px;
        font-weight: bold;
        
    }
    
    .card > p{
        color: black;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .btn-style-white {
        background-color: white;
        border: 1px solid #ccc;
        color: #333;
    }

    .btn-style-primary {
        background-color: #007bff;
        color: white;
    }
    .row{
        width: 50%;
    }
 
</style>
{% if messages %}
{% for message in messages %}
   <script>
    alert('{{message}}')
   </script>
{% endfor %}
{% endif %}
<section class="w3l-banner pt-5" >
    <div class="row mx-auto">
        {% if  data %}
        {% for i in data %}
        <div class="col-md-12 mt-5 card">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-black mb-3"><b>{{ i.title }}</b></h1>
                    <p><i><u>About This Group</u></i></p>
                    <p class=""><i>{{ i.description }}</i> </p>
                </div>

            </div>
           

            <div class="row mt-5">
                {% if request.session.ut == 1 %}

                <a href="/edittalentgroupes/{{ i.id }}"  class="btn btn-primary ml-3">
                    Edit
                </a>
                <a href="/deletetalentgroup/{{ i.id }}" class="btn btn-danger ml-3" onclick="return confirm('Are You Sure To Delete This Group')">
                    Delete 
                </a>
                <a href="/members/{{i.id}}" class="btn btn-primary ml-3">
                  Members
                </a>
                <a href="/chatgroup/{{i.id}}"  class="btn btn-primary ml-3">
                    Chat
                </a>
                {% endif %}
                {% if request.session.ut == 0 %}

                <a href="/joingroup/{{i.id}}" onclick="return confirm('Are You Sure To Join This Group')" class="btn btn-primary ml-3">
                    Join
                </a>
                <a href="/chatgroup/{{i.id}}"  class="btn btn-primary ml-3">
                    Chat
                </a>
                <a href="/members/{{i.id}}" class="btn btn-primary ml-3">
                    Members
                  </a>
                {% endif %} 
            </div>
           
           
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>
</section>

{% endblock %}
