{% extends "layout.html" %}
{% block content %}
{% load static %}

<style>
    body {
        background-repeat: no-repeat;
        background-size: 100%;
    }
    nav {
    }
    label {
        color: yellow;
    }
    .lead {
        color: white;
    }
    .card {
        background-color: rgba(232, 128, 43, 0.201);
        background-repeat: no-repeat;
        background-size: 70%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        padding: 20px;
        margin: 10px;
        margin-left: 180px;
    }
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .btn-style-white {
        background-color: white;
        border: 1px solid #ccc;
        color: #333;
    }
    .btn-style-primary {
        background-color: #007bff;
        color: white;
    }
    .row {
        width: 80%;
    }
</style>

{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}')
</script>
{% endfor %}
{% endif %}

<section class="w3l-banner pt-5">
    <form method="get" action="" class="mt-5">
        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
        <a href="/viewhostals" class="">Refresh</a>

    </form>
    <div class="row">
        {% for i in data %}
        <div class="col-md-4 card">
            <img src="{{ i.hostalimage.url }}" alt="" width="" height="180px">
            <div class="section-heading mb-sm-5 mb-4">
                <p class="text-white lead">{{ i.hostal_name }}</p>
                <p class="lead">
                    Location:
                    <a href="https://www.google.com/maps/search/?api=1&query={{ i.location }}" target="_blank" class="text-info">{{ i.location }}</a>
                </p>
                <p class="lead">
                    Rent: {{ i.Rent }} Rs
                </p>
                <p class="lead">
                    Contact: {{ i.contact }}
                </p>
                <p class="lead">
                    Average Rating: {{ i.avg_rating|default:"No ratings yet" }}
                </p>
                <p class="lead">
                    <a href="/viewmorehostal/{{ i.id }}" class="btn btn-primary">View More About This Hostal >></a>
                </p>
            </div>
            <div class="row text-center">
                {% if request.session.ut == 2 %}
                <div class="team-info col-md-3 col-6">
                    <a href="/edithostal/{{ i.id }}" class="btn btn-primary">Edit</a>
                </div>
                <div class="team-info col-md-3 col-6 ml-5 mr-5">
                    <a href="/deletetalentgroup/{{ i.id }}" class="btn btn-primary">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
